body {
  background-color: #FFFDFA; 
}

// .background {
//  background: url('SoccerPlayerKickingBall.jpg') 45em 50% no-repeat;
//  background-width: 200px;
// }


.field  {
  border-radius: 50px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: orange;
  margin-top: 50px;
  margin-bottom: 30px;
}

.container {
  margin: 40px auto;
  width: 400px;
}

ul {
  list-style-type: none;
}

.container ul li {
  display:inline-block;
  vertical-align: top;
}    

.deets {
  border: solid;
  border-width: 0px;
  .row {
    height: 100px;
    margin-bottom: 10px;
  }

  img {
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

.scroller {
  height: calc(100vh - 200px);
  overflow: scroll;
}

.top-bar {
  font-family: 'Montserrat', sans-serif;
}



