body.teams {
  &.show {
    .row {
      margin-bottom: 15px;
    }
    .team-pic {
      .team-name {
        position: absolute;
        opacity: 0.6;
        text-shadow: 0 0 3px #fff;
      }
    }

    .pictures {
      img {
        width: 100%;
        margin-bottom: 15px;
      }
    }

    .videos {
      &>div {
        width: 100%;
        padding-bottom: 60%;
        margin-bottom: 15px;
        iframe {
          position: absolute;
          width: calc(100% - 30px);
          height: calc(100% - 30px);
          top: 0;
          left: 15px;
        }
      }
      a {
        display: block;
      }
    }
  }
}